DB_HOST=
DB_DATABASE=sticky_chroma
DB_USERNAME=sticky_chroma
DB_PASSWORD=sticky_chroma

STORAGE_ENGINE=File
FILE_BASE=./target/storage/

KOALA_CLIENT_ID=
KOALA_CLIENT_SECRET=

KOALA_BASE_REDIRECT_URI=http://koala.rails.local:3000
KOALA_BASE_URI=http://koala.rails.local:3000
KOALA_OAUTH_REDIRECT_URI=http://localhost:8000/api/v1/login
LOGIN_COMPLETE_REDIRECT_URI=http://localhost:8008/#/logged_in

RUST_LOG=INFO,chroma=TRACE
